//for mobile screens (320 px - 400 px)

$body-font-size-mobile:1rem;
$header-font-size-mobile:1.75rem;
$button-font-size-mobile: 1.25rem;

//for med mobile screens (400 px - 768 px)
$body-font-size-mobile-med:1rem;
$header-font-size-mobile-med:2rem;
$button-font-size-mobile-med: 1.5rem;

//for Tablet screens (768 px - 1280px)

$body-font-size-tablet:1rem;
$header-font-size-tablet:1.75rem;
$button-font-size-tablet: 1.25rem;

//for Desktop screens (1280px - beyond)
$body-font-size-desktop:1.25rem;
$header-font-size-desktop:2rem;
$button-font-size-desktop: 1.5rem;


//upload page 
$body-font-size-mobile-upload:.8rem;