// colors

// Background color
$background-primary:  #ffffff;
$background-secondary: #000000;
$background-tertiary:#FAFAFA;


//text color
$text-primary: #323232;
$text-secondary: #FFFFFF;
$text-tertiary: #afafaf;
$text-quaternary:#E1E1E1;
$text-quinary:#000000;
$text-6:#0095FF;

//button 
$button-primary:#0095FF;

//border
$border-tertiary: #E1E1E1;