@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "AvenirNextLTPro--bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro--demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
.comments {
  padding: 5%;
  font-weight: 1000;
  display: flex;
  flex-direction: column;
}
.comments__intro {
  font-weight: 1000;
}
.comments__container {
  display: flex;
  margin-top: 1.125rem;
}
.comments__container .comments__image {
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 3.75rem;
  margin-top: 1.875rem;
}
.comments__container .comments__subcontainer {
  display: flex;
  flex-direction: column;
}
.comments__container .comments__header {
  margin-left: 1.25rem;
  font-size: 1rem;
  color: #afafaf;
}
.comments__container .comments__form {
  margin-left: 0.625rem;
}
.comments__container .comments__form textarea::-moz-placeholder {
  color: #000000;
}
.comments__container .comments__form textarea::placeholder {
  color: #000000;
}
.comments__container .comments__form #comment {
  width: 100%;
  height: 6.25rem;
  margin-top: 0.625rem;
  font-size: 1rem;
  padding: 4%;
  background-color: #FAFAFA;
  border-radius: 0.313rem;
  border-color: #E1E1E1;
}
.comments__container .comments__form .comments__button {
  width: 100%;
  padding: 5%;
  background-color: #0095FF;
  color: #FFFFFF;
  font-size: 1.5rem;
  border-radius: 0.313rem;
  border: none;
  background-image: url(../../assets/Icons/add_comment.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 0.625rem;
  background-size: 12%;
  margin-top: 0.625rem;
}

.comments__divider {
  margin-top: 1.875rem;
  transform: translateX(-3.063rem);
}

.commenter {
  display: flex;
  margin-top: 1rem;
  border-bottom: #E1E1E1 0.125rem solid;
  padding-bottom: 1rem;
  transform: translateX(-2.813rem);
  transform: translateX(-3.063rem);
}
.commenter__image {
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 3.75rem;
}
.commenter__container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.commenter__container .commenter__subcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.commenter__container .commenter__subcontainer .commenter__name {
  font-weight: 1000;
  font-size: 1rem;
}
.commenter__container .commenter__subcontainer .commenter__date {
  font-weight: 500;
  font-size: 1rem;
  color: #afafaf;
}
.commenter__container .commenter__text {
  font-weight: 100;
  font-size: 1rem;
}
.commenter__date {
  color: #323232;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .comments {
    padding: 5%;
    padding-bottom: 0%;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
  }
  .comments__intro {
    font-weight: 1000;
  }
  .comments__container {
    display: flex;
    margin-top: 1.125rem;
  }
  .comments__container .comments__image {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 3.75rem;
    margin-top: 1.875rem;
    transform: translateX(0.5rem);
  }
  .comments__container .comments__subcontainer {
    display: flex;
    flex-direction: column;
    width: 43.75rem;
  }
  .comments__container .comments__header {
    margin-left: 1.25rem;
    font-size: 1rem;
    color: #afafaf;
  }
  .comments__container .comments__form {
    margin-left: 0.625rem;
    display: flex;
  }
  .comments__container .comments__form textarea::-moz-placeholder {
    color: #000000;
  }
  .comments__container .comments__form textarea::placeholder {
    color: #000000;
  }
  .comments__container .comments__form #comment {
    width: 21.5rem;
    height: 3.25rem;
    margin-top: 0.625rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    padding: 2%;
    background-color: #FAFAFA;
    border-radius: 0.313rem;
    border-color: #E1E1E1;
  }
  .comments__container .comments__form .comments__button {
    width: 12rem;
    padding: 3%;
    height: 3.25rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 0.313rem;
    border: none;
    background-image: url(../../assets/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.625rem;
    background-size: 12%;
    margin-top: 0.625rem;
    margin-left: 3rem;
  }
  .comments__divider {
    margin-top: 1.875rem;
    transform: translateX(-3.063rem);
  }
  .commenter {
    display: flex;
    margin-top: 1rem;
    border-bottom: #E1E1E1 0.125rem solid;
    padding-bottom: 1rem;
    transform: translateX(-2.813rem);
    transform: translateX(-3.063rem);
  }
  .commenter__image {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 3.75rem;
  }
  .commenter__container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .commenter__container .commenter__subcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .commenter__container .commenter__subcontainer .commenter__name {
    font-weight: 1000;
    font-size: 1rem;
  }
  .commenter__container .commenter__subcontainer .commenter__date {
    font-weight: 500;
    font-size: 1rem;
    color: #afafaf;
  }
  .commenter__container .commenter__text {
    font-weight: 100;
    font-size: 1rem;
  }
  .commenter__date {
    color: #323232;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 5%;
    padding-bottom: 0%;
    padding-top: 2%;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
  }
  .comments__intro {
    font-family: "AvenirNextLTPro--bold", sans-serif;
  }
  .comments__container {
    display: flex;
    margin-top: 1.125rem;
  }
  .comments__container .comments__image {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 3.75rem;
    margin-top: 1.875rem;
  }
  .comments__container .comments__subcontainer {
    display: flex;
    flex-direction: column;
    width: 45.75rem;
  }
  .comments__container .comments__header {
    margin-left: 1.25rem;
    font-size: 1.25rem;
    color: #afafaf;
  }
  .comments__container .comments__form {
    margin-left: 0.625rem;
    display: flex;
  }
  .comments__container .comments__form textarea::-moz-placeholder {
    color: #000000;
  }
  .comments__container .comments__form textarea::placeholder {
    color: #000000;
  }
  .comments__container .comments__form #comment {
    width: 28rem;
    height: 3.25rem;
    margin-top: 0.625rem;
    font-size: 1.1rem;
    padding: 2%;
    background-color: #FAFAFA;
    border-radius: 0.313rem;
    border-color: #E1E1E1;
  }
  .comments__container .comments__form .comments__button {
    width: 12rem;
    padding: 3%;
    height: 3.25rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-size: 1.25rem;
    border-radius: 0.313rem;
    border: none;
    background-image: url(../../assets/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0.625rem;
    background-size: 12%;
    margin-top: 0.625rem;
    margin-left: 3rem;
  }
  .comments__divider {
    margin-top: 1.875rem;
    transform: translateX(-3.063rem);
    width: 49.355rem;
  }
  .commenter {
    display: flex;
    margin-top: 1rem;
    border-bottom: #E1E1E1 0.125rem solid;
    padding-bottom: 1rem;
    transform: translateX(-2.813rem);
    transform: translateX(-3.563rem);
    width: 49.85rem;
  }
  .commenter__image {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 3.75rem;
  }
  .commenter__container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .commenter__container .commenter__subcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .commenter__container .commenter__subcontainer .commenter__name {
    font-weight: 1000;
    font-size: 1.25rem;
  }
  .commenter__container .commenter__subcontainer .commenter__date {
    font-weight: 500;
    font-size: 1.25rem;
    color: #afafaf;
    margin-right: 1.875rem;
  }
  .commenter__container .commenter__subcontainer .commenter__text {
    font-weight: 100;
    font-size: 1.25rem;
  }
  .commenter__date {
    color: #323232;
  }
}/*# sourceMappingURL=Comments.css.map */