@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "AvenirNextLTPro--bold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "AvenirNextLTPro--demi";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@media (min-width: 767px) {
  .selection {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .selection__title {
    margin-bottom: 1.25rem;
    color: #afafaf;
  }
  .selection__container {
    display: flex;
  }
  .selection__container .selection__image {
    min-width: 8.5rem;
    height: 4.75rem;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem;
  }
  .selection__container .selection__subcontainer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.625rem;
  }
  .selection__container .selection__subcontainer .selection__header {
    font-size: 1rem;
    font-weight: 1000;
  }
  .selection__container .selection__subcontainer .selection__author {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .selection {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 0%;
  }
  .selection__title {
    margin-bottom: 1.25rem;
    color: #afafaf;
  }
  .selection__container {
    display: flex;
  }
  .selection__container .selection__image {
    min-width: 8.5rem;
    height: 4.75rem;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem;
  }
  .selection__container .selection__subcontainer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.625rem;
  }
  .selection__container .selection__subcontainer .selection__header {
    font-size: 1rem;
    font-weight: 1000;
  }
  .selection__container .selection__subcontainer .selection__author {
    font-size: 1rem;
    font-weight: 100;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .selection {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 0%;
    padding-left: 2%;
    transform: translateX(2.5rem);
    border-left: #E1E1E1 solid 0.125rem;
  }
  .selection__title {
    margin-bottom: 1.25rem;
    color: #afafaf;
  }
  .selection__container {
    display: flex;
  }
  .selection__container .selection__image {
    min-width: 8.5rem;
    height: 4.75rem;
    border-radius: 0.313rem;
    margin-bottom: 1.5rem;
  }
  .selection__container .selection__subcontainer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4.625rem;
  }
  .selection__container .selection__subcontainer .selection__header {
    font-size: 1.25rem;
    font-weight: 1000;
  }
  .selection__container .selection__subcontainer .selection__author {
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: 0.5rem;
  }
}/*# sourceMappingURL=VideoSelection.css.map */